<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="VIEWPORT" content="width=divise-width, intial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styleS.css" />
	<title>CV DEVELOPPEUR WEB</title>
    <script src="https://kit.fontawesome.com/52790ca7f3.js" crossorigin="anonymous"></script>
</head>
  <body>
	<header id="showcase">
		<section class="haut"> 
		<div id="header_section">	    	
	   <nav>
          <ul id="nav">
            <li><a href="ACCUEILS.html">ACCUEIL</a></li>
            <li><a href="#present">A PROPOS</a></li>
            <li><a href="#experience">EXPERIENCE</a></li>
            <li><a href="#PORFOLIO">PORFOLIO</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </nav>
</div>
<div id="article">
    <h1><font id="h11"   size="8"> BIENVENUE A VOUS !</font><br><br><font  id="h12"size="6">JE  M'APPELLE  JEOBRAN KOMBOU<br> DEVELOPPEUR WEB JUNIOR <br><br> </font></h1>

         </div>

</section><div class="footer">
             <i class="fab fa-html5 fa-6x"></i>
             <i class="fab fa-css3-alt fa-6x"></i>
             <i class="fab fa-js-square fa-6x"></i>
             <i class="fas fa-database fa-6x"></i>
         </div>
         <div class="part">
        <i id="ht">HTML 5</i> <i id="cs">CSS 3</i> <i id="ja">JAVA SCRIPT</i> <i id="da">DATA BASE</i>
         </div>
</header>
<br><br>
<section id="present" >
     <div class="flex">
     <table class="moi"> <th>
          <img class="alignleft" src="image/photo.jpg" alt="JEOBRAN KOMBOU"></th>
               
              <th>
           <p><font id="PROPOS" size="5">À PROPROS DE MOI</font><br><br>  <br><font size="4"> je suis un jeune Développeuse web junior age de 19 ans de nom KOMBOU et de prenoms JEOBRAN ,<br>  Createur de  page web , j'ai passé 04 mois  de stage  dans une agence web.<br> Cette expérience m’a permis d’acquérir autonomie et confiance en moi, <br> malgré le fait que je sortais à peine de l’école. J’ai ainsi pu renforcer ce que j’ai appris lors de ma formation professionnelle,<br> et étoffer mon panel de compétences.<br>

Après avoir obtenu une licence en langue anglaise et culture anglophone, <br> et en informatique générale a EPSI campus de Lille   j’ai choisi de me reconvertir dans le métier de développeur web.<br> Touche à tout, je m’intéresse également au  web design et aux arts graphiques en général, ce qui me permet d’aborder<br> le développement front-end avec sérénité, même lorsque je ne dispose pas de maquette ou de directives précises.<br>

Autonome de nature, je peux travailler seule ou en groupe,<br> Je sais faire preuve de force de proposition lorsque l’on m’en donne la liberté,<br> cherchant toujours à améliorer et optimiser les projets au maximum pour satisfaire au mieux la demande du client.</p></font>
           </th>
            </table>
            </div>
        </section>

<section>
                    <div class="loisirs" height="20%">
                       <hr><font size="5"><center>MES HOBBIES</center></font><hr>
                     </div>             
                             <div class="mes_loisirs">
                                  <div id="jeux">
                                    <font size="5">jeux video</font>
                                  </div>
                             <div id="plaisir"> 
                                    <font size="5">lecture</font>
                                  </div>
                             <div id="ecole"> 
                                    <font size="5">Developpeur web</font>
                                  </div>
                             <div id="passe temps"> 
                                    <font size="5">cuisine</font>
                                  </div>
                             <div id="parfois"> 
                                    <font size="5">explore</font>
                                  </div>
                     
                   </div>
</section> 
<center><font id="fc" size="6"> MES COMPETENCES</font></center>
   <main><p><font id="fr" size="5" >FRONT-END:</font><font size="5" >
Création et intégration de sites web et applications mobiles responsive, accessibles et répondant aux normes W3C.</font></p>
       
    <div class="container">
           <div class="card">
              <div class="box">
                 <div class="percent">
                  <svg>
                   <circle  cx="70px" cy="70px" r="70px"></circle> 
                   <circle cx="70px" cy="70px" r="70px"></circle>
                  </svg>
                  <div class="number">
                      <h2>90<span>%</span></h2>
                  </div>
                 </div>
                 <h2 class="text">HTML</h2>
               </div>
           </div> 